
# Created by https://www.gitignore.io/api/julia
# Edit at https://www.gitignore.io/?templates=julia

### Julia ###
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# End of https://www.gitignore.io/api/julia

# Created by https://www.gitignore.io/api/jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

# End of https://www.gitignore.io/api/jupyternotebook

